# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Operating System files
.DS_Store
Thumbs.db

# IDE or Editor files
.vscode/
.idea/
*.swp
